// Скидання вбудованої геометрії списків, абзаців та заголовків
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

// Скидання чотирипіксельних відступів в зображень та іконок
img,
svg {
  display: block;
}

// Забезпечення респонсивності зображень
img {
  max-width: 100%;
  height: auto;
}

// Заборона зміни розміру іконок
svg {
  flex-shrink: 0;
}
