<footer class="footer">
  <div class="container footer__container">
    <div class="footer__cont1">
      <nav class="footer__nav">
        <a
          class="footer__logo"
          href="https://github.com/PaulHighrow/goit-markup-scp-2268-project"
          aria-label="FoodSta"
        >
          <img
            srcset="./images/png/logo@1x.png 1x, ./images/png/logo@2x.png 2x"
            src="./images/png/logo@2x.png"
            alt="FoodSta Logo"
            width="66"
          />
        </a>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#header">Home</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#hero">About</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#offerings">Service</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#favorites">Menu</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#subscribe">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__cont2">
      <p class="footer-cont2__tittle">Subscribe</p>
      <form class="subscribe__form">
        <label class="subscribe__label">
          <input
            class="subscribe__input"
            type="email"
            name="email"
            placeholder="Enter your email"
            required
            pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
          />
          <span class="warning warning--subscribe">
            <svg class="warning__icon" width="11" height="11">
              <use href="./images/svg/icons.svg#warning"></use>
            </svg>
            <span class="warning__text"
              >Not a valid email address (example@email.com)</span
            >
          </span>
        </label>
        <button class="btn btn--subscribe" type="submit">Subscribe</button>
      </form>
      <p class="footer__label">
        By subscribing you agree to with our &nbsp;<a
          href="#"
          class="modal__contract"
          >Privacy Policy</a
        >
      </p>
    </div>
    <div class="footer-doc">
      <ul class="footer-doc__list">
        <li class="footer-doc__item">
          <a href="" class="footer-doc__link">Privacy Policy</a>
        </li>
        <li class="footer-doc__item">
          <a href="" class="footer-doc__link">Terms of Service</a>
        </li>
        <li class="footer-doc__item">
          <a href="" class="footer-doc__link">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer-doc__text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
