<section class="hero" id="hero">
  <div class="container">
    <ul class="hero__list">
      <li class="hero__item">
        <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <button type="button" class="btn">Order Now</button>
      </li>
      <li class="hero__item">
        <div class="swiper mySwiper">
          <div class="slider-navigation"></div>
          <a class="swiper-button-prev"></a>
          <a class="swiper-button-next"></a>
          <div class="swiper-wrapper">
            <div class="swiper-slide customer-item">
              <img
                class="swiper-slide__img"
                srcset="
                  ./images/slider/slider-1@1x-292.jpg   292w,
                  ./images/slider/slider-1@1x-528.jpg   528w,
                  ./images/slider/slider-1@2x-584.jpg   584w,
                  ./images/slider/slider-1@2x-1056.jpg 1056w
                "
                sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
                src="./images/slider/slider-1@2x-1056.jpg"
                alt="Блюдо 1"
                width="528"
                height="528"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="swiper-slide__img"
                srcset="
                  ./images/slider/slider-2@1x-292.jpg   292w,
                  ./images/slider/slider-2@1x-528.jpg   528w,
                  ./images/slider/slider-2@2x-584.jpg   584w,
                  ./images/slider/slider-2@2x-1056.jpg 1056w
                "
                sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
                src="./images/slider/slider-2@2x-1056.jpg"
                alt="Блюдо 2"
                width="528"
                height="528"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="swiper-slide__img"
                srcset="
                  ./images/slider/slider-3@1x-292.jpg   292w,
                  ./images/slider/slider-3@1x-528.jpg   528w,
                  ./images/slider/slider-3@2x-584.jpg   584w,
                  ./images/slider/slider-3@2x-1056.jpg 1056w
                "
                sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
                src="./images/slider/slider-3@2x-1056.jpg"
                alt="Блюдо 3"
                width="528"
                height="528"
              />
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </li>
    </ul>
  </div>
</section>
