<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="hero">
    <div class="container">
      <ul class="hero__list">
        <li class="hero__item">
          <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
          <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
            tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
          <button type="button" class="btn">Order Now</button>
        </li>
        <li class="hero__item">
            <!-- Slider main container -->
            <div class="swiper">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                  <img src="./images/foto.jpg" alt="Блюдо" width="528" height="528">
                </div>
                <div class="swiper-slide">
                  <img src="./images/foto.jpg" alt="Блюдо" width="528" height="528">
                </div>
                <div class="swiper-slide">
                  <img src="./images/foto.jpg" alt="Блюдо" width="528" height="528">
                </div>
              </div>
              <!-- If we need pagination -->
              <div class="swiper-pagination"></div>
            
              <!-- If we need navigation buttons -->
              <div class="swiper-button-prev">
                <svg class="left" width="48" height="40">
                  <use href="./images/sprite.svg#icon-pagination-right"></use>
              </svg>
            </div>
              <div class="swiper-button-next">
                <svg class="left" width="48" height="40">
                  <use href="./images/sprite.svg#icon-pagination-left"></use>
                </svg>
              </div>

              <!-- If we need scrollbar -->
              <div class="swiper-scrollbar"></div>
            </div>
        </li>
        
      </ul>
    </div>
  </section>
</body>
</html>

