<section class="hero" id="hero">
    <div class="container">
      <ul class="hero__list">
        <li class="hero__item">
          <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
          <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
            tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
          <button type="button" class="btn">Order Now</button>
        </li>
        <li class="hero__item">
            <div class="swiper mySwiper">
              <button class="swiper-button-prev" type="button">
                <span>
                  <svg class="swiper-button-prev__icon" width="48" height="40">
                    <use href="./images/svg/sprite.svg#icon-pagination-left"></use>
                  </svg>
                </span>
              </button>
              <button class="swiper-button-next" type="button">
                <span>
                  <svg class="swiper-button-next__icon" width="48" height="40">
                    <use href="./images/svg/sprite.svg#icon-pagination-right"></use>
                  </svg>
                </span>
              </button>
              <div class="swiper-wrapper">
                <div class="swiper-slide customer-item">
                  <img class="swiper-slide__img" 
                  <!-- srcset="
                  ./src/mages/slider/slider-1@1x-292.jpg 292w, 
                  ./src/mages/slider/slider-1@1x-528.jpg 528w,
                  ./src/mages/slider/slider-1@1x-584.jpg 584w,
                  ./src/mages/slider/slider-1@1x-528.jpg 1056w, 
                  "
                  sizes="(min-width: 1200px) 528px, (min-width: 768px) 292px, 100vw" -->
                  src="./images/foto.jpg" alt="Блюдо 1" width="528" height="528">
                </div>
                <div class="swiper-slide">
                  <img class="swiper-slide__img" src="./images/foto3.png" alt="Блюдо 2" width="528" height="528">
                </div>
                <div class="swiper-slide">
                  <img class="swiper-slide__img" src="./images/foto4.png" alt="Блюдо 3" width="528" height="528">
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
        </li>
      </ul>
    </div>
  </section>