<div class="modal modal--is-hidden" data-modal>
  <!-- Кнопка закрытия модального окна -->
  <button class="close-btn" type="button" data-modal-close>
    <svg class="close-btn__icon">
      <use href="./images/svg/icons.svg#close"></use>
    </svg>
  </button>

  <!-- Форма модального окна -->
  <form class="form">
    <strong class="form__title">Enter Delivery Address</strong>
    <div class="form__group" role="group">
      <label class="form__label">
        <span class="form__text">Your name</span>
        <input
          class="form__input"
          type="text"
          name="name"
          placeholder=" "
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          required
        />
        <svg class="form__icon">
          <use href="./images/svg/icons.svg#pacman"></use>
        </svg>
        <div class="warning">
          <svg class="warning__icon" width="11" height="11">
            <use href="./images/svg/icons.svg#warning"></use>
          </svg>
          <span class="warning__text"
            >Please enter your first and last name (Brad Pitt)</span
          >
        </div>
      </label>
      <label class="form__label">
        <span class="form__text">Phone number</span>
        <input
          class="form__input"
          type="tel"
          name="phone-number"
          placeholder=" "
          required
          pattern="\+?[0-9\s\-\(\)]+"
        />
        <svg class="form__icon">
          <use href="./images/svg/icons.svg#phone"></use>
        </svg>
        <div class="warning">
          <svg class="warning__icon" width="11" height="11">
            <use href="./images/svg/icons.svg#warning"></use>
          </svg>
          <span class="warning__text"
            >Not a valid phone number (+380XX-XXX-XX-XX)</span
          >
        </div>
      </label>
      <label class="form__label">
        <span class="form__text">Email</span>
        <input
          class="form__input"
          type="email"
          name="email"
          placeholder=" "
          required
          pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
        />
        <svg class="form__icon">
          <use href="./images/svg/icons.svg#envelope"></use>
        </svg>
        <div class="warning">
          <svg class="warning__icon" width="11" height="11">
            <use href="./images/svg/icons.svg#warning"></use>
          </svg>
          <span class="warning__text"
            >Not a valid email address (example@email.com)</span
          >
        </div>
      </label>
      <label class="form__label">
        <span class="form__text">Street Address</span>
        <input
          class="form__input"
          type="text"
          name="address"
          placeholder=" "
          required
        />
        <svg class="form__icon">
          <use href="./images/svg/icons.svg#location"></use>
        </svg>
      </label>
      <label class="form__label">
        <span class="form__text">Your notes</span>
        <textarea
          class="form__textarea"
          name="comment"
          rows="6"
          placeholder="Notes for your order"
        ></textarea>
      </label>
    </div>
    <button
      class="btn btn--form"
      type="submit"
      data-tooltip="Please insert bread in your disc drive"
    >
      Submit
    </button>
  </form>
</div>
