<section class="offerings">
  <div class="offerings__content container">
    <div class="offerings__size">
      <picture>
        <source
          srcset="
            ./images/png/apple-pc@1x-550.png  1x,
            ./images/png/apple-pc@2x-1100.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/png/apple-tablet@1x-704.png  1x,
            ./images/png/apple-tablet@2x-1408.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/png/apple-mobile@1x-280.png 1x,
            ./images/png/apple-mobile@2x-560.png 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./images/png/apple-mobile@2x-560.png" alt="apple" />
      </picture>
    </div>
    <div class="offerings__field">
      <div class="offerings__thumb">
        <h1 class="offerings__title">What’s Special About Our Offerings</h1>
        <p class="offerings__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
      </div>
      <ul class="offerings__list">
        <li class="offerings__item">
          <div class="offerings__picture">
            <svg class="offerings__icon" width="32" height="32">
              <use href="./images/svg/icons.svg#rocket"></use>
            </svg>
          </div>
          <h3 class="offerings__slogan">Fasest Delivery</h3>
          <p class="offerings__subject">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings__item">
          <div class="offerings__picture">
            <svg class="offerings__icon" width="32" height="32">
              <use href="./images/svg/icons.svg#touch"></use>
            </svg>
          </div>
          <h3 class="offerings__slogan">Easy to order</h3>
          <p class="offerings__subject">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <div class="offerings__options">
        <button class="offerings__button">Order Now</button>
        <a class="offerings__link" href=""
          >Read More
          <svg class="offerings__more">
            <use href="./images/svg/icons.svg#more"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
