<section>
  <div class="container">
    <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <form class="subscribe__form">
      <label class="subscribe__label">
        <input
          class="subscribe__input"
          type="email"
          name="mail"
          placeholder=" Enter your email"
        />
      </label>
      <button class="btn" type="button">Subscribe</button>
    </form>
    <img
      class="subscribe-img"
      src="./images/png/banana-pc@1x-546.png"
      alt="banana"
    />
  </div>
</section>
