<section id="subscribe">
  <div class="container subscribe">
    <picture class="subscribe__img">
      <source
        srcset="
          ./images/png/banana-pc@1x-546.png  1x,
          ./images/png/banana-pc@2x-1092.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/png/banana-tablet@1x-281.png 1x,
          ./images/png/banana-tablet@2x-562.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/png/banana-mobile@1x-161.png 1x,
          ./images/png/banana-mobile@2x-322.png 2x
        "
        media="(max-width: 767px)"
      />
      <img src="./images/png/banana-mobile@2x-322.png" alt="banana" />
    </picture>

    <div class="subscribe__group">
      <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
      <p class="subscribe__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>

      <form class="subscribe__form">
        <label class="subscribe__label">
          <input
            class="subscribe__input"
            type="email"
            name="mail"
            placeholder=" Enter your email"
            required
          />
        </label>
        <div class="subscribe__invalid">
          <svg class="subscribe__icon" width="12" height="12">
            <use href="./images/svg/backup/frame.svg#frame"></use>
          </svg>
          <span class="form__invalid__text">
            Not a valid email address (example@email.com)
          </span>
        </div>
        <button class="subscribe__btn" type="button">Subscribe</button>
      </form>
    </div>
  </div>
</section>
