.warning {
  opacity: 0;
  position: absolute;
  bottom: -15px;
  right: 0;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: var(--warning-color);
  transition: opacity var(--animation-global);

  &__icon {
    width: 11px;
    height: 11px;
  }

  &__text {
    @include font(10px, 400, 15px);
  }
}
