// Hero style
.hero {
    background-color: red;

    &__title {
            color: var(--main-color, #2c2c2c);
            @include font(48px, 700, 58px);
        }

    &__text {
        color: var(--main-color, #2c2c2c);
        @include font(14px, 400, 24px);
    }
}