.subscribe__titel {
  color: var(--main-color);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.19;

  &__text {
    color: var(--main-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
}

.subscribe__input {
  width: 395px;
  height: 42px;
  border: 1px solid var(--subscribe-color);
  border-radius: 30px;
}

.placeholder {
  width: 326px;
  height: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}
